body{

}

button {
   background-color: grey;
   border: none;

   padding: 10px 10px 10px 10px;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}
button:hover {
    background-color: lightgrey;
}

.invisible {
    display: none;
}

.textField {
    margin-bottom: 2em;
}
.textField label{
    padding: 50px 0;
    max-width: 100%;
}
.textField input{
    background-color: lightgrey;
    border: none;

    width: auto;
    max-width: 100%;
    height: 2em;
    float: right;
}

.login {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: min(50%, 25em);
    margin-bottom: auto;
    width: 50%;
}
.login .info {
    display: inline-block;
    color: red;
    outline: 1px solid red;

    padding: 0.5em;
    margin-bottom: 1.5em;
    width: 100%;
}
.login button {
    width: max(4em,40%);
}